*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

   background: var(--bgcolor);
   position: relative;

   font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

:root{
  --bgcolor2: #110f24;
  --bgcolor: #0D0C16;
  --textcolor: #8000FF;
  --textcolor1:  black ;
  --textcolor2: #890b72 ;
  --textcolor3: black ;
  --textcolor4: white;
  --bigfont: 1.5rem;
  --mediumfont:  1rem;
  --smallfont:  0.8rem;
}


.t-section{
  width: 100%;
  height: 100vh;

 display: grid;
 grid-template-columns: 100%;
 grid-template-rows: 10vh 80vh 10vh;
 grid-template-areas:  
   "navbar"
   "outlet"
   "footer"
   ;
   
}

.navbar-section{

  grid-area: navbar;
}

.outlet-section{

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: outlet;}

  .footer-section{
  
    color: var(--textcolor4);
    width: 100%;
    grid-area: footer;
    
    

}
.footer-section div{
   display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 0px 30px 0px 30px;
    font-size: 12px;
  height: 100%;
  }

@media screen and (max-width: 768px) {
  .t-section {
    grid-template-rows: 90vh 10vh ;
    grid-template-areas: 

      "outlet"

      "navbar"    ;
  }

  .navbar-section {

    grid-area: navbar;
  }

  .outlet-section {
   
    grid-area: outlet;
  }
  

  .footer-section{
    display: none;
  }
}